.dropdown{
    position: absolute;
    top: 100%;
    left: -30px;;
    padding: 27px 25px 25px 28px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: inset 0px 5px 9px -5px var(--gray-shadow), 0px 7px 10px -7px var(--gray-shadow), 4px 0px 9px -6px var(--gray-shadow), -4px 0px 9px -6px var(--gray-shadow);
    background-color: var(--dark-white);
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap:64px;
}
.listItem{
    margin: 0 0 8.4px;
    letter-spacing: 0.3px;
    white-space: nowrap;
}
.listItem:last-child{
    margin-bottom: 0;
}