.eventPreview{
    position: relative;
    color: var(--white);
    height: 270px;
    width: 308px;
    margin-right: 16px;
    transition: all 0.4s ease;  
    margin-bottom: 16px;  
}
.eventPreviewBigSize{
    width: 632px;
}
.eventPreview:nth-child(3n){
    margin-right: 0;
}
.eventPreview:hover{
    box-shadow: #aabece 0px 3px 10px -2px;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 21px 20px;
    background: rgba(0,0,0,0.26);
    border-radius: 10px;
    transition: all 0.4s ease;
}
.eventPreview:hover .content{
    background: rgba(0,0,0,0.4); 
}
.coverContainer{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}
.cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.h{
    color: var(--white);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin: 0 0 11px;
}
.date{
    font-size: 14px;
    font-weight: 400;
}
.link{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.contentHeader{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentFooter{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.4s ease;
    transform: translateY(25px);
    
}
.eventPreview:hover .contentFooter{
    transform: translateY(0px);
}
.favorite{
    margin-left: 16px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.eventPreview:hover .favorite{
   opacity: 1; 
}
.coinTooltip{
    width: 160px;
    background: var(--white);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    font-size: 14px;
    color: var(--gray);
    top: calc(100% + 12px);
    left: -10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.coinTooltip:before{
    content:'';
    position: absolute;
    top: -8px;
    left: 10px;
    background:transparent;
    border-bottom: 8px var(--white) solid;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
}
.eventPreview:nth-child(3n) .coinTooltip{
    left: inherit;
    right: -10px;
}
.eventPreview:nth-child(3n) .coinTooltip:before{
    left: inherit;
    right: 10px;
}
.coinContainer{
    position: relative;
}
.coinContainer:hover .coinTooltip{
    opacity: 1;
    visibility: visible;
}
.coin{
    width: 19px;
    height: 19px;
    border-radius: 19px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}
.freeLabel{
    background-color: var(--green);
    height: 19px;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    padding: 0 13px;
    border-radius: 19px;
    margin-left: 16px;
}
.contentBox{
    display: flex;
}
.contentFooter .contentBox{
    justify-content: space-between;
    align-items: baseline;
}
.tags{
    flex-wrap: wrap;
    display: flex;
    opacity: 0;
    transition: all 0.4s ease;
}
.eventPreview:hover .tags{
    opacity: 1;
}
.tag{
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    margin-left: 14px;
}
.tag:first-child{
    margin-left: 0;
}