.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    position: relative;
}

.alarm{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: var(--blue);
    position: absolute;
    top: -5px;
    right: -6px;
}
.link{
    position: relative;
}