.menuItem{
    height: 100%;
    margin: 0 15px;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}
.menuItem:first-child{
    margin-left: 0;
}
.menuItem:last-child{
    margin-right: 0;
}
.link{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color: var(--gray);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.42px;
    cursor: pointer;
    height: 100%;
}
.link:hover{
    color: var(--dark-gray);    
}
.menuItem:hover{
    border-bottom-color: var(--blue);
}
.dropdown{
    position: absolute;
    top: calc(100% + 2px);
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.menuItem:hover .dropdown{
    opacity: 1;
    visibility: visible;
}
.linkContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100%;
}