.container{
    max-width: 1280px;
    margin: 0 auto;
    border-top: 1px #d8e6f1 solid;
    padding-top: 69px;
    padding-bottom: 103px;
}
.h{
    color: var(--dark-gray);
    font-size: 24px;
    font-weight: 700;
    line-height: 43px;
    margin: 0;
}
.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 40px;
}
.headerIcon{
    margin-left: 7px;
    transform: translateY(3px);
}
.list{
    display: flex;
    flex-wrap: wrap;
}
.moreIcon{
    margin-left: 15px;
}