.button{
    height: 50px;
    line-height: 50px;
    padding: 0 28px;
    border-radius: 50px;
    border:0;
    transition: all 0.2s ease;
    font-size: 14px;
    cursor: pointer;
    outline: none; 
    letter-spacing: 0.9px;
}

.primary{
    background: var(--blue);
    color: var(--white);
}

.primary:hover{
    background: var(--dark-blue);
}

.defaultLink, .primaryLink{
    color: var(--dark-gray);
    background: transparent;
}

.defaultLink:hover{
    color: var(--gray);
}

.primaryLink:hover{
    color: var(--blue);
}