.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    cursor: pointer;
}
.balance{
    letter-spacing: 0.7px;
    font-size: 14px;
    display: flex;
}
.value{
    color: var(--blue);
    font-weight: 600;    
}
.currency{
    color: var(--gray);
    margin-left: 5px;
}
.avatar{
    margin-left: 17px;    
}
.dropdown{
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.dropdownIsOpen{
    opacity: 1;
    visibility: visible;
}
.info{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuSeporator{
    height: 1px;
    border:0;
    margin: 10px 0;
    background: var(--light-gray);
}