.selectedCityContainer{
    color: var(--dark-gray);
    font-size: 14px;
    font-weight: 400;
    margin: 0px 8px 0px 14px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.selectedCity{
    letter-spacing: 0.4px;
}
.location{
    margin:0 36px 0 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dropdown{
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.dropdownIsOpen{
    opacity: 1;
    visibility: visible;
}
.dropdownIcon{
    transition: all 0.2s ease;
}
.dropdownIconRotated{
    transform: rotate(180deg);
}