.LogoWrap{
    border-right: 1px var(--light-gray) solid;
    padding-right: 40px;
    height: 100%;
    display: flex;
    align-items: center;
}
.container{
    padding: 0px 80px;
}
.createEvent{
    height: 100%;
    line-height: 78px;
    font-weight: 600;
    letter-spacing: 0.42px;
    text-decoration: none;
    color: var(--gray);
    padding: 0 33px;
    border-left: var(--light-gray) 1px solid;
    border-right: var(--light-gray) 1px solid;
    transition: all 0.2s ease;
}
.createEvent:hover{
    background: var(--blue);
    color: var(--white);
}
.spacer{
    flex-grow: 1;
}
.searchContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}