*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --white: #ffffff;
    --dark-white: #fcfefe;
    --blue: #009ad6;
    --dark-blue: #0084b9;
    --green: #43e690;
    --gray: #8b98ac;
    --dark-gray: #3d414c;
    --light-gray: #f1f6f9;
    --gray-shadow: rgba(207,222,234,.45);
    --orange: #f9cd56;
}
html, body{
    margin:0;
    padding: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: var(--light-gray);    
}

