.header{
    width: 100%;
    height: 78px;
    box-shadow: 0 0 9px var(--gray-shadow);
    background-color: var(--dark-white);
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}