.getStartedScreen{
    margin-top: 78px;
    position: relative;
    height: calc(100vh - 108px);
    background: linear-gradient(var(--dark-white),var(--light-gray));
    overflow: hidden;
}
.textContainer{
    position: absolute;
    top: 50%;
    left: 13.6%;
    transform: translateY(-66%);
}
.h{
    color: var(--dark-gray);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 0 0 14px;
    letter-spacing: -0.3px;
}
.p{
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 40px;
    letter-spacing: 0.3px;
}
.picture{
    position: absolute;
    top: -66px;
    right: -173px;
    height: 89%;
}