.search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;    
    z-index: 1;
    width: 100%;
    background: var(--dark-white);
}
.searchIsVisible{
    position: absolute;
    /* padding-right: 88px; */
    padding-left: 18px;
}
.input{
    display: flex;
    flex-grow: 1;
    border: 0;
    background: transparent;
    height: 100%;
    padding: 0 40px;
    border-left: 1px var(--light-gray) solid;
    outline: none;
    font-size: 14px;
    color: var(--dark-gray);
}
.input::placeholder{
    color: var(--gray);
}
.submit{
    border:0;
    transition: all 0.2s ease;
    font-size: 14px;
    cursor: pointer;
    outline: none; 
    color: var(--dark-gray);
    background: transparent;
    margin-right: 55px;
}

.submit:hover{
    color: var(--blue);
}
.searchButton{
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
}